$header-height:77px;
$footer-height:40px;
$body-height: calc(100vh - #{$header-height} - #{$footer-height} );
$bg-image:'/assets/background.jpg';

.header{
  padding-left: 20px;
  height: $header-height;
  top: 0;
  border-bottom: 1px solid d0d3d7;
  z-index: 9999;
}
.body{
  background-image: url($bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: $body-height;
  top:$header-height;
  bottom:$footer-height;
  padding-top: 60px;
  overflow:auto;
}
.footer{
  height: $footer-height;
  text-align: center;
  bottom: 0;
  border-top: 1px solid d0d3d7;
}
.header,.footer{
  display: flex;
  align-items: center;
  overflow:hidden;
}
.header,.footer,.body{
  width: 100%;
  position: absolute;
  background-color: #FFFFFF;
  right: 0;
  left: 0;
}