<app-dialog (close)="onClose()">
  <!--(Header)-->
  <h2 mat-dialog-title><span><strong>Review</strong> Transfer</span></h2>

  <!--(Content)-->
  <div mat-dialog-content>
    <p><i>Are you ready to send out this transfer?</i></p>

    <!--(Account)-->
    <div class="mt-3">
      <strong>It will be send to account:</strong>
      <div>{{data.account}}</div>
    </div>

    <!--(Amount)-->
    <div class="mt-3">
      <strong>With the amount of:</strong>
      <div>€ {{data.amount}}</div>
    </div>
  </div>

  <!--(Action)-->
  <div mat-dialog-actions align="end">
    <button class="btn btn-default" mat-button mat-dialog-close>Close</button>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Send Transfer</button>
  </div>
</app-dialog>