@import 'variables';

.header {
  position: relative;
  .close {
    $base: 14px;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    cursor: pointer;
    display: inline-flex;
    width: $base;
    height: $base;
    font-size: $base;
    opacity: 0.5;
    color: #000;

    &:hover,
    &:active {
      opacity: 1;
    }
    &,
    &:hover,
    &:active {
      text-decoration: none;
    }
    .lni {
      display: inline-flex;

      &::before {
        font-weight: bold !important;
      }
    }
  }
}
